body {
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
  background: #536976;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #292E49, #536976);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #292E49, #536976); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.container {
   border: 2px solid black;
   width: 400px;
   text-align: center;
   padding: 20px;
   border-radius: 10px;
 }

#start {
   padding: auto;
   margin-top: 5px;
   margin-left: 5px;
   margin-bottom: 10px;
 }

#status {
   padding: auto;
   margin-left: 5px;
   margin-bottom: 10px;
 }

 #display {
    font-size: 48px;
    margin-bottom: 20px;
    color: #333;
}

button {
    padding: 10px 15px;
    font-size: 16px;
    margin: 5px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

#time-input {
    padding: 10px;
    font-size: 1rem;
    width: 120px;
}